<ol class="list"
  appKeyboardManager
  role="list"
  [attr.aria-labelledby]="labelledBy"
  cdkDropList
  cdkDropListOrientation="vertical"
  (cdkDropListDropped)="reorderItemsOnDrop($event)"
  (appDropped)="reorderItemsOnDrop($event)"
>
  <li
    appKeyboardManagedItem
    tabindex="0"
    class="list-item"
    *ngFor="let item of items; let i = index"
    cdkDrag>
    <fa-icon
      cdkDragHandle
      [icon]="fa.faGripLines"
      aria-hidden="true">
    </fa-icon>
    <div class="list-item-content">
      <span class="sr-only">{{ i + 1 }}</span>
      <ng-container
        *ngTemplateOutlet="itemTemplate; context: { $implicit: item }">
      </ng-container>
    </div>
  </li>
</ol>
